.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: blanchedalmond;
}
h1 {
  color: rgb(72, 8, 133);
  font-size: 40pt;
}
p {
  color: rgb(32, 113, 194);
  font-size: 24pt;
}
button {
  background-color: rgb(226, 175, 65);
  border-radius: 50px;
  width: auto;
  height: 20%;
  padding: 20px;
  font-size: 16pt;
  border: 5px solid black;
  box-shadow: 10px 10px 10px rgb(23, 88, 209);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
